@use "./../../utils/colors/colors";
@use "./../../utils/mixins-other/screen-widths" as s-w;
@use "./../../utils/size-spacing/nums-size-space" as n-s-s;
@use "./../../utils/variables/variables-global" as v-g;

%heading1-title {
    font-weight: 700;
    color: colors.color('p', 20);
}

%p-subtitle {
    font-weight: 500;
    color: colors.color('n', 30);
}

%heading2 {
    font-weight: 600;
    color: colors.color('p', 20);
}

%heading3 {
    font-weight: 500;
    color: colors.color('s', 20);
}

%heading4 {
    font-weight: 450;
    color: colors.color('s', 20);
}

%p-bodyText, %list-item {
    font-weight: 400;
    color: colors.color('n', 30);
}

%buttonText, %figureCaption {
    // font-size: 16px;
    font-size: map-get(n-s-s.$size-space, "m");
    line-height: 1.5;
}

%buttonText, %mainLink {
    font-weight: 400;
}

%figureCaption {
    font-weight: 300;
}

// %text-wrapping-max-width {
//     overflow-wrap: anywhere;
//     hyphens: auto;
// }

@include s-w.mediaQuery-maxOnly(v-g.$bp-dt) {
    %heading1-title {
        // font-size: 48px;
        font-size: map-get(n-s-s.$size-space, "2xl");
        line-height: 1.2;
        padding-bottom: calc(18px * 0.75);
    }
    %heading2 {
        font-size: 36px;
        line-height: 1.25;
        padding-bottom: calc(18px * 0.65);
    }
    %heading3 {
        font-size: 28px;
        line-height: 1.3;
        padding-bottom: calc(18px * 0.55);
    }
    %heading4 {
        // font-size: 24px;
        font-size: map-get(n-s-s.$size-space, "l");
        line-height: 1.375;
        padding-bottom: calc(18px * 0.45);
    }
    %p-subtitle {
        // font-size: 20px;
        font-size: map-get(n-s-s.$size-space, "ml");
        line-height: 1.5;
        padding-bottom: calc(20px * 0.4);
    }
    %p-bodyText, %mainLink, %list-item {
        font-size: 18px;
        line-height: 1.6;
        padding-bottom: calc(18px * 0.35);
    }
}

@include s-w.mediaQuery-minOnly(v-g.$bp-dt) {
    %heading1-title {
        font-size: 80px;
        line-height: 1.15;
        padding-bottom: calc(20px * 0.75);
    }
    %heading2 {
        font-size: 52px;
        line-height: 1.23;
        padding-bottom: calc(20px * 0.65);
    }
    %heading3 {
        font-size: 36px;
        line-height: 1.3333;
        padding-bottom: calc(20px * 0.55);
    }
    %heading4 {
        // font-size: 24px;
        font-size: map-get(n-s-s.$size-space, "l");
        line-height: 1.3333;
        padding-bottom: calc(20px * 0.45);
    }
    %p-subtitle {
        // font-size: 24px;
        font-size: map-get(n-s-s.$size-space, "l");
        line-height: 1.5;
        padding-bottom: calc(20px * 0.4);
    }
    %p-bodyText, %mainLink, %list-item {
        // font-size: 20px;
        font-size: map-get(n-s-s.$size-space, "ml");
        line-height: 1.6;
        padding-bottom: calc(20px * 0.35);
    }
}

h1 {
    @extend %heading1-title;
}

h2 {
    @extend %heading2;
}

h3 {
    @extend %heading3;
}

h4 {
    @extend %heading4;
    &.tags {
        font-style: italic;
        color: colors.color('n', 30);
    }
}

p {
    @extend %p-bodyText;
    &.subtitle {
        @extend %p-subtitle;
    }
}

ol, ul, ol > li, ul > li {
    @extend %list-item;
}

a {
    @extend %mainLink;
    padding-bottom: 0;
    font-weight: 425;
     & > span {
        font-size: map-get(n-s-s.$size-space, "m");
     }
}

button > a > span {
    @extend %buttonText;
}

figcaption {
    @extend %figureCaption;
}

// h1, h2, h3, h4, p, ol, ol > li, ul, ul > li, button > a > span, figcaption {
    // @extend %text-wrapping-max-width;
// }

h1, h2, h3, h4, p, ol, ol > li, ul, ul > li, figcaption {
    margin: 0;
}

footer > #endNavLinks h4 {
    padding-bottom: 0;
}

// Prevent stray widows and display words as intended.
@mixin maxLineWidth ($maxWidth) {
    max-width: $maxWidth;
}

// Prevent stray widows and display words as intended.
@mixin noWidow ($minWidth, $maxWidth) {
    @include s-w.mediaQuery-maxOnly($minWidth) {
        // content: " ";
        white-space: normal;
    }
    @include s-w.mediaQuery-minMax($minWidth, $maxWidth) {
        // content: "&nbsp;";
        white-space: nowrap;
    }
    @include s-w.mediaQuery-minOnly($maxWidth) {
        // content: "&nbsp;";
        white-space: normal;
    }
}

