@use "./../../utils/size-spacing/nums-size-space" as n-s-s;

/*
    UPDATE COMMENT
    Mixin to define the space between each children element in a 
    container with flex display. For grid display, this defines the 
    space between each grid cell. Varaible arguments are defined below.
        - "$rowGap" is the horizontal spacing between elements in a 
          flexbox container or grid cells.
        - "$columnGap" is the horizontal spacing between elements in a 
          flexbox container or grid cells.
        - By default, each argument has a default value of zero (no space), 
          even if the argument is empty. However, the value of either or both 
          arguments can be non-zero if specified.
*/
@mixin rowColumnGaps($rowGap: "", $columnGap: "") {
    @if (($rowGap != 0) and ($columnGap != 0) and ($rowGap != "") and ($columnGap != "")) {
        gap: map-get(n-s-s.$size-space, $rowGap) map-get(n-s-s.$size-space, $columnGap);
    } @else if (($rowGap == 0) and ($columnGap != "")) {
        gap: 0 map-get(n-s-s.$size-space, $columnGap);
    } @else if (($rowGap == "") and ($columnGap != "")) {
        gap: 0 map-get(n-s-s.$size-space, $columnGap);
    } @else if (($rowGap != "") and ($columnGap == 0)) {
        gap: map-get(n-s-s.$size-space, $rowGap) 0;
    } @else if (($rowGap != "") and ($columnGap == "")) {
        gap: map-get(n-s-s.$size-space, $rowGap) 0;
    } @else {
        // Do nothing.
    }
}