@use "./../../utils/colors/colors";
@use "./../../utils/size-spacing/nums-size-space" as n-s-s;


/* 
    Values for different screen width breakpoints.
    bp = breakpoint, mb = mobile, dt = desktop, s = small, l = large
*/
$bp-mb-s: 320;
$bp-mb-l: 510;
$bp-dt: 1024;
$bp-dt-l: 1400;

/*
    Placeholder selector used for the html element to set the default transition time to 0.25 seconds
    with an ease-in and ease-out transition smoothness.
*/
%default-transition {
    transition: 0.25s ease-in-out;
}

/*
    Placeholder selector to set the default background color of the entire page (html element) and 
    the navigation header to light blue using the color function.
*/
%default-backgroundColor {
    background-color: colors.color('n', 90);
}

%button-global-zIndexes {
    &:before {
        z-index: 0;
    }
    &:after {
        z-index: 1;
    }
    a {
        z-index: 2;
        p, picture.icon {
            z-index: 2;
        }
    }
    p, picture.icon {
        z-index: 2;
    }
}

main, footer {
    z-index: 3;
}

header {
    z-index: 4; 
}

h2 {
    &.h2-sticky, &.sticky {
        z-index: 5;
    }
}