@use "./../../utils/colors/colors";
@use "./../../utils/mixins-other/screen-widths" as s-w;
@use "./../../utils/size-spacing/nums-size-space" as n-s-s;
@use "./../../utils/variables/variables-global" as v-g;

h2 {
    &.h2-sticky, &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        // @extend %left-right-outer-padding;
        background-color: colors.color('n', 90, 90);
        @include s-w.mediaQuery-maxOnly(v-g.$bp-dt) {
            padding: map-get(n-s-s.$size-space, "s") 0;
        }
        @include s-w.mediaQuery-minOnly(v-g.$bp-dt) {
            padding: map-get(n-s-s.$size-space, "xl") 0;
        }
    }
}